[submodule "libconinteract"]
	path = libconinteract
	url = ../libconinteract.git
[submodule "lua"]
	path = lua
	url = ../lua.git
[submodule "json-c"]
	path = json-c
	url = https://github.com/json-c/json-c.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "random"]
	path = random
	url = ../Random-C.git
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/mackyle/sqlite.git
[submodule "PokemonSMS-Core"]
	path = PokemonSMS-Core
	url = ../PokemonSMS.git
[submodule "curl"]
	path = curl
	url = https://github.com/curl/curl.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
